@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-center">Hãy chấm công !!</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <button id="saveButton" class="btn btn-success">CHẤM CÔNG <i class="fa fa-check"></i></button>
        </div>
    </div>
</div>

<script>
    $(function () {
        // Sự kiện khi nhấn nút "Lưu chấm công"
        $('#saveButton').click(function () {
            var maNV = '@ViewBag.MaNV'; // Lấy giá trị MaNV từ ViewBag
            var ngayHomNay = new Date();
            var formattedDate = ngayHomNay.toISOString().slice(0, 10); // Định dạng lại ngày theo ISO format "yyyy-MM-dd"
            console.log(maNV, formattedDate);
            $.ajax({
                type: "POST",
                url: "@Url.Action("KiemTraCaLam", "ChamCong")",
                data: { maNV: maNV, ngay: formattedDate },
                success: function (response) {
                    if (response.success) { // Sử dụng key 'success' từ response để kiểm tra chấm công thành công
                        Swal.fire({
                            icon: 'success',
                            title: response.success, // Hiển thị thông báo chấm công thành công từ controller
                            showConfirmButton: false,
                            timer: 1500
                        }).then((result) => {
                            // Redirect hoặc thực hiện các hành động cần thiết sau khi hiển thị thông báo
                            // Ví dụ: window.location.href = '@Url.Action("Index", "Home")';
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: response.error || 'Đã xảy ra lỗi!', // Hiển thị thông báo lỗi nếu có
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đã xảy ra lỗi!',
                    });
                }
            });
        });
    });
</script>
